{% extends 'base_layout.html' %} {% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header
  class="intro-header"
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
      url('static/img/home-bg.jpg');
  "
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Blog Talk</h1>
          <hr class="small" />
          <span class="subheading"
            >“Wise men speak because they have something to say; fools because
            they have to say something.” – Plato
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container" id="posts">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% for post in post_list %}
      <div class="post-preview">
        <a href="{% url 'blog:post_detail' post.slug %}">
          <h2 class="post-title">{{post.title}}</h2>
          <h3 class="post-subtitle">{{post.content|slice:"100"|safe}}</h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="{% url 'blog:post_detail' post.slug %}">{{post.author}}</a>
          on {{post.created_on}}
        </p>
      </div>
      {% endfor %}

      <hr />

      {% if is_paginated %}
      <!-- Pager -->
      <ul class="pager">
        {% if page_obj.has_previous %}
        <li class="previous">
          <a href="?page={{ page_obj.previous_page_number }}#posts" class="page-link"
            >&laquo; PREV
          </a>
        </li>
        {% endif %} {% if page_obj.has_next %}
        <li class="next">
          <a href="?page={{ page_obj.next_page_number }}#posts" class="page-link">
            NEXT &raquo;</a
          >
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
