{% extends 'base_layout.html' %} {% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header
  class="intro-header"
  style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ), url('static/img/home-bg.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Blog Talk</h1>
          <hr class="small" />
          <span class="subheading">Start sharing your thoughs, your content... </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% for post in post_list %}
      <div class="post-preview">
        <a href="{% url 'blog:post_detail' post.slug %}">
          <h2 class="post-title">{{post.title}}</h2>
          <h3 class="post-subtitle">{{post.content|slice:"100"}}</h3>
        </a>
        <p class="post-meta">
          Posted by <a href="{% url 'blog:post_detail' post.slug %}">{{post.author}}</a> on {{post.created_on}}
        </p>
      </div>
      {% endfor %}

      <hr />

      <!-- Pager -->
      <ul class="pager">
        <li class="next">
          <a href="#">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
