{% extends 'base_layout.html' %} {% load static %} {% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<div class="blog-detail">
  <header
    class="intro-header"
    style="background-image: url('/static/img/post-bg.jpg')"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">{{post.content|slice:"70"|safe}}</h2>
            <span class="meta"
              >Posted by <a href="#">{{post.author}}</a> on
              {{post.updated_on}}</span
            >
            <br />
            <a class="seecomments-detail-page" href="#comments">see comments</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <h2 class="section-heading">The Final Frontier</h2>

          {{post.content|safe}}

          <p>
            There can be no thought of finishing for ‘aiming for the stars.’
            Both figuratively and literally, it is a task to occupy the
            generations. And no matter how much progress one makes, there is
            always the thrill of just beginning.
          </p>

          <p>
            There can be no thought of finishing for ‘aiming for the stars.’
            Both figuratively and literally, it is a task to occupy the
            generations. And no matter how much progress one makes, there is
            always the thrill of just beginning.
          </p>

          <blockquote>
            The dreams of yesterday are the hopes of today and the reality of
            tomorrow. Science has not yet mastered prophecy. We predict too much
            for the next year and yet far too little for the next ten.
          </blockquote>

          <p>
            Spaceflights cannot be stopped. This is not the work of any one man
            or even a group of men. It is a historical process which mankind is
            carrying out in accordance with the natural laws of human
            development.
          </p>

          <h2 class="section-heading">Reaching for the Stars</h2>

          <p>
            As we got further and further away, it [the Earth] diminished in
            size. Finally it shrank to the size of a marble, the most beautiful
            you can imagine. That beautiful, warm, living object looked so
            fragile, so delicate, that if you touched it with a finger it would
            crumble and fall apart. Seeing this has to change a man.
          </p>

          <a href="#">
            <img
              class="img-responsive"
              src="/static/img/post-sample-image.jpg"
              alt=""
            />
          </a>
          <span class="caption text-muted"
            >To go places and do things that have never been done before –
            that’s what living is all about.</span
          >

          <p>
            Space, the final frontier. These are the voyages of the Starship
            Enterprise. Its five-year mission: to explore strange new worlds, to
            seek out new life and new civilizations, to boldly go where no man
            has gone before.
          </p>

          <p>
            As I stand out here in the wonders of the unknown at Hadley, I sort
            of realize there’s a fundamental truth to our nature, Man must
            explore, and this is exploration at its greatest.
          </p>

          <p>
            Placeholder text by
            <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
            <a href="https://www.flickr.com/photos/nasacommons/"
              >NASA on The Commons</a
            >.
          </p>

          <div class="comments" id="comments">
            <h3>Comments ({{comments|length}})</h3>
            {% for comment in comments %}
            <div class="post-comments container">
              <div class="post-comment-header">
                <p class="post-comment-author muted-text">{{comment.author}}</p>
                <p class="post-comment-time">
                  {{comment.created_on|date:"D, M y"}}
                </p>
              </div>
              <p class="post-comment-body">{{comment.body|linebreaks}}</p>
            </div>

            {% endfor %}
          </div>

          {% if comments.has_other_pages %}
          <ul class="pager">
            {% if comments.has_previous %}
            <li class="previous">
              <a href="?comments={{ comments.previous_page_number }}#comments"
                >&laquo; PREV</a
              >
            </li>
            {% endif %} {% if comments.has_next %}
            <li class="next">
              <a href="?comments={{ comments.next_page_number }}#comments"
                >NEXT &raquo;</a
              >
            </li>
            {% endif %}
          </ul>
          {% endif %}

          <ul class="pager go-back-btn">
            <li class="previous">
              <a href="{% url 'blog:home' %}">GO Back &larr;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>

  <hr />
</div>
{% endblock content %}
